body {
  background-color: rgba(0, 0, 0, 0.693);
}
.container {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  background-color: #ffffff;
  flex: 1 1 1;
  align-items: center;
  width: 80%;
  box-shadow: 30px #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  line-height: 40px;
  margin: 50px;
}
.container {
  border-radius: 10px;
  box-shadow: #ffffff;
}

h1 {
  font-size: xx-large;
  color: black;
}
.content {
  display: block;
  flex-wrap: wrap;
  width: 300px;
  color: lightslategray;
  font-family: "Roboto", sans-serif;
  font-family: "Space Mono", monospace;
  padding: 20px;
}
li {
  list-style-image: url(/assets/images/icon-list.svg);
}
p {
  font-size: 16px;
}
input[type="email"] {
  margin: 20px;
  width: 300px;
  height: 50px;
  font-size: 18px;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}
.btn {
  width: 300px;
  height: 50px;
  font-size: 18px;
  padding: 5px;
  margin: 20px;
  background: linear-gradient(to right, #ff3333, #ff6600);
  border-radius: 10px;
}
a {
  color: #ffffff;
  text-decoration: none;
}
span {
  color: black;
}

.icon {
  padding-left: 100px;
}

/* container styles for screens with a max-width of 600px */
@media (max-width: 600px) {
  .container {
    width: 100%; /* Expand to full width on smaller screens */
    /* Other styles specific to small screens */
  }
}
.sub {
  height: 500px;
  width: 600px;
  display: flex;
  justify-content: center;
  border-radius: 30px;
  margin-left: 80px;
  background-color: #ffffff;
  margin: 50px;
  padding-left: 20%;
  overflow: hidden;
  line-height: 1.5rem;
}
.btn-me {
  width: 300px;
  height: 50px;
  font-size: 18px;
  padding: 5px;
  margin: 20px;
  background: linear-gradient(to right, #ff3333, #ff6600);
  border-radius: 10px;
  position: relative;
  top: 300px;
  right: 250px;
}
.success > h1 {
  line-height: 2.5rem;
  font-family: "Roboto", sans-serif;
  font-family: "Space Mono", monospace;
}
.success > p {
  color: darkgray;
  font-family: "Roboto", sans-serif;
  font-family: "Space Mono", monospace;
}
